.first{
    background-color: rgb(241, 201, 215);
    color:rgb(241, 201, 215);
    border-style: solid;
    height: 500px;
    margin: 50px 300px;
}
.second{
    text-align: center;
    color: black;
    margin-top: 0px;
    font-size: 25px;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight:900;
}
.third{
    border-bottom-style: dashed;
    border-left-style:dashed;
    border-right-style: dashed;
    border-width: 2px;
    color: rgba(184, 113, 250, 0.622);
    width: 140px ;
    height: 40px;
    text-align: center;
    margin-left: 400px;
}
.fourth{
    color: black;
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-left: 420px;
}
.hide{
    display: none;
}
.logo:hover+.hide{
    display: block;
    color: black;
    margin-left: 425px;
    font-weight: 900;
    color:green;
    font-size: 25px;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
}
.logo{
    margin-left: 420px;
    color: grey;
    background-color:  rgb(87, 171, 255);
    border-radius: 100px;
    width: 90px;
    height:90px;
    margin-top: 10px;

}
.fifth{
    border-bottom-style: solid;
    width: 450px;
    color: black;
    margin-top: 20px;
    margin-left: 250px;
}
.sixth{
    margin-left: 360px;
    margin-top: 20px;
}
.seventh{
    display: flex;
}
.eight{
    color: black;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 5px;
}
.eleventh{
    color: rgb(211, 243, 187);
    background-color: rgb(211, 243, 187);
    width: 600px;
    height: 100px;
    border-style: solid;
    margin-left: 150px;
    margin-top: 40px;
}
.twelfth{
    color: green;
    font-size: 14px;
    font-weight: 800;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    margin-top: 13px;
}
